@using MyApp.Application.DTOs.NPI

@if (Provider != null)
{
    <div class="card mb-3">
        <div class="card-header">
            <h5>NPI: <span class="form-text">@Provider.NPI</span></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-2">
                    <strong>Parent Organization Name:</strong> @Provider.ParentOrganizationLegalBusinessName
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Organization Name:</strong> @Provider.OrganizationName
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Other Organization Name:</strong> @Provider.OtherOrganizationName
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Provider First Name:</strong> @Provider.ProviderFirstName
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Provider Last Name:</strong> @Provider.ProviderLastName
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Primary Taxonomy Code:</strong> @Provider.PrimaryTaxonomyCode
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Primary Taxonomy State License:</strong> @Provider.PrimaryTaxonomyStateLicense
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Gender:</strong> @Provider.Gender
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Sole Proprietor:</strong> @Provider.SoleProprietor
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Enumeration Date:</strong> @Provider.EnumerationDate
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Last Updated:</strong> @Provider.LastUpdated
                </div>
                <div class="col-md-4 mb-2">
                    <strong>Status:</strong> @Provider.Status
                </div>
                <div class="col-md-4">
                    <div>
                        <strong>Primary Address:</strong><br />
                        @Provider.Address1<br />
                        @Provider.City, @Provider.State @Provider.Zip<br />
                        <abbr title="Phone">P:</abbr> @Provider.Phone<br />
                        <abbr title="Fax">F:</abbr> @Provider.Fax
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <strong>Mailing Address:</strong><br />
                        @Provider.MailingAddress1<br />
                        @Provider.MailingCity, @Provider.MailingState @Provider.MailingZip<br />
                        <abbr title="Mailing Phone">P:</abbr> @Provider.MailingPhone<br />
                        <abbr title="Mailing Fax">F:</abbr> @Provider.MailingFax
                    </div>
                </div>
                @if (Provider.Identifiers != null && Provider.Identifiers.Count > 0)
                {
                    <div class="col-12 mb-2">
                        <strong>Identifiers:</strong>
                        <ul class="list-group">
                            @foreach (var identifier in Provider.Identifiers)
                            {
                                <li class="list-group-item">
                                    <strong>@identifier.Code:</strong> @identifier.IdentifierValue (@identifier.Description)
                                </li>
                            }
                        </ul>
                    </div>
                }
                @if (Provider.Endpoints != null && Provider.Endpoints.Count > 0)
                {
                    <div class="col-12 mb-2">
                        <strong>Endpoints:</strong>
                        <ul class="list-group">
                            @foreach (var endpoint in Provider.Endpoints)
                            {
                                <li class="list-group-item">
                                    <strong>@endpoint.EndpointType:</strong> @endpoint.EndpointValue (@endpoint.EndpointTypeDescription)
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-danger mt-3" @onclick="@ButtonClose">Close</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public ProviderDto? Provider { get; set; }

    void ButtonClose()
    {
        Provider = null;
    }
}
